body {
  background: url(http://stuckincustoms.smugmug.com/Burning-Man/i-vN3Wdd7/0/X3/Burning-Man-Day-1%20%281006%20of%201210%29-X3.jpg);
  padding-left: 140px;
}

body h1 {
font-family: monospace;
font-size: 47.5;
color: black;
padding-left: 20px;
}

form {
  color: #262369;
  font-weight: bold;
  font-variant: left;
  font-size: 16.5;
  border: #000 solid 1.8px;
  border-radius: 9px;
  padding-left: 9px;
  padding-top: 4px;
  padding-bottom: 8px;
}

.button {
  background-color: pink;
}

.form-control {
  width: 32%;
  height: 28px;
}
.btn {
  line-height: 7px;
}

.form-horizontal .control-label {
    text-align: left;
}

.form-group {
  margin-bottom: 1px;
}

.h1, .h2, .h3, h1, h2, h3 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.Signup {
  padding-left: 735px;
  width: 172%;
}